@using EM.Web.Models.Pages
@using EPiServer.Core
@{
    var cr = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.IContentRepository>();

    var childPages = cr.GetChildren<BasePage>(ContentReference.StartPage);
}


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        @foreach (var page in childPages)
        {
            <div style="display: inline-block" class="navbar-btn">@Html.PageLink(page)</div>
        }
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
        </div>
    </div>
</div>
